@model MODELS.DANHMUC.PHONGBAN.Dtos.MODELPhongBan

<div class="modal-content" id="modalLoading">
    @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "frmPhongBan", @class = "forms-sample" }))
    {
        @Html.AntiForgeryToken()
        <div class="modal-header">
            <h5 class="modal-title">Thông tin phòng ban</h5>
            <button type="button" class="close" onclick="closePopUp();" aria-label="Close" data-bs-dismiss="modal">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            @Html.HiddenFor(model => model.IsEdit)
            @Html.HiddenFor(model => model.Id)
            <div class="row">
                <div class="col-md-6">
                    <label>Đơn vị <span class="text-danger">*</span></label>
                    @(Html.Kendo().DropDownListFor(m => m.DonViId).Enable(false)
                        .DataTextField("Text")
                        .DataValueField("Value")
                        .OptionLabel("-- Chọn đơn vị --")
                        .Filter(FilterType.Contains)
                        .DataSource(source => source
                        .Custom()
                        .Transport(transport => transport
                        .Read(read =>
                        {
                            read.Action("GetList_Combobox", "DonVi");
                        })))
                        .HtmlAttributes(new { @class = "form-control", @style = "width:100%;  max-width:none;" }))
                    @Html.ValidationMessageFor(model => model.DonViId, "", new { @class = "text-danger" })
                </div>
                <div class="col-md-6">
                    <label>
                        Mã  <span class="text-danger">*</span>
                    </label>
                    @(Html.Kendo().TextBoxFor(m => m.Ma).Enable(false).HtmlAttributes(new { @class = "form-control", @style = "width:100%;" }))
                    @Html.ValidationMessageFor(model => model.Ma, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <label>
                        Tên gọi <span class="text-danger">*</span>
                    </label>
                    @(Html.Kendo().TextBoxFor(m => m.TenGoi).Enable(false).HtmlAttributes(new { @class = "form-control", @style = "width:100%;" }))
                    @Html.ValidationMessageFor(model => model.TenGoi, "", new { @class = "text-danger" })
                </div>
                <div class="col-md-6">
                    <label>
                        Trạng thái
                    </label>
                    @(Html.Kendo().DropDownListFor(m => m.IsActived).Enable(false)
                        .DataTextField("Text")
                        .DataValueField("Value")
                        .BindTo(SYS_CONFIG.TRANG_THAI)
                        .HtmlAttributes(new { @class = "form-control", @style = "width:100%;  max-width:none;" }))
                    @Html.ValidationMessageFor(model => model.IsActived, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <label>
                        Mô tả
                    </label>
                    @(Html.Kendo().TextAreaFor(m => m.MoTa).Enable(false).Rows(3).HtmlAttributes(new { @class = "form-control", @style = "width:100%;  " }))
                </div>
                <div class="col-md-6">
                    <label>
                        Ghi chú
                    </label>
                    @(Html.Kendo().TextAreaFor(m => m.GhiChu).Enable(false).Rows(3).HtmlAttributes(new { @class = "form-control", @style = "width:100%;  " }))
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button onclick="closePopUp();" class="btn btn-default" type="button"><i class="fas fa-times-square"></i> Huỷ</button>
        </div>
    }
</div>
<script>
    $(document).ready(function () {
        $("#frmPhongBan").find("span.field-validation-valid").hide();
    });

    function closePopUp() {
        hideModal();
    }
</script>