@model MODELS.DANHMUC.CHUCVU.Dtos.MODELChucVu
<div class="modal-content" id="modalLoading">
	@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "frmChucVu", @class = "forms-sample" }))
	{
		@Html.AntiForgeryToken()
		<div class="modal-header">
			<h5 class="modal-title">Thông tin chức vụ</h5>
			<button type="button" class="close" onclick="closePopUp();" aria-label="Close" data-bs-dismiss="modal">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
		<div class="modal-body">
			<div class="row">
				<div class="col-md-12">
					<label>Mã chức vụ</label>
					@(Html.Kendo().TextBoxFor(model => model.MaChucVu).Enable(false).HtmlAttributes(new { @class = "form-control", @style = "width:100%;  max-width:none;" }))
					@Html.ValidationMessageFor(model => model.MaChucVu, "", new { @class = "text-danger" })
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<label>Tên chức vụ</label>
					@(Html.Kendo().TextBoxFor(model => model.TenChucVu).Enable(false).HtmlAttributes(new { @class = "form-control", @style = "width:100%;  max-width:none;" }))
					@Html.ValidationMessageFor(model => model.TenChucVu, "", new { @class = "text-danger" })
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<label>Trạng thái</label>
					@(Html.Kendo().DropDownList().Name("IsActived").Enable(false)
									.DataTextField("Text")
									.DataValueField("Value")
									.BindTo(SYS_CONFIG.TRANG_THAI)
									.HtmlAttributes(new { @class = "form-control", @style = "width:100%;  max-width:none;" }))
					@Html.ValidationMessageFor(model => model.IsActived, "", new { @class = "text-danger" })
				</div>

			</div>
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-default" onclick="closePopUp();"><i class="fas fa-times-square" aria-hidden="true"></i> Hủy</button>
		</div>
	}
</div>
<script>
	$(document).ready(function () {
		$("#frmChucVu").find("span.field-validation-valid").hide();
	});

	function closePopUp() {
		hideModal();
	}
</script>